<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/toast.js" defer></script>
    <title>My BookKeeping</title>
</head>
<body>
    
    <header class="header">
        <div class="header-inner">
         
        <h1 class="section-heading">My Bookkeeping</h1>
     <nav>
        <div class="nav-action">
        <a class="button Library" href="/">Library</a>
        <a href="/addBook" class="button AddBook">Add Book</a>
        </div>
     </nav>
   </div>
</header>

<div id="toast-container"></div>
